<h1>{{task.title}}</h1>

{{{task.description}}}

{{input type="checkbox" checked=taskStatus click=(action "toggleStatus")}}

{{#each sortedChilds as |childTask|}}
  {{task-solution/edit tasklistSolution=tasklistSolution task=childTask}}
{{/each}}

{{yield}}
